.btn{
    border: none;
}
.btn-medium{
    width: 100px;
    padding: 10px;
}
.btn-blue{
    background: rgb(130, 224, 255);
}

.input {
    border: 0;
}

.input-medium{
    padding: 5px;
    width: 300px;
    margin-right: 10px;
}